* {
    background-color: aquamarine;

    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 100vh;
    background-color: coral;
    margin: 50px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;
    align-items: center;


    align-content: space-evenly;


}

.caja {
    border: 1px solid red;
    width: 100px;
    height: 100px;
}
#caja1 {
    order: 4;

}
#caja2 {
    /* font-size: 30px; */
    order: 3
}


#caja3 {
    order: 1;
    flex-grow: 8;
    background-color: red;

}
#caja4 {
    order: 2;
    flex-grow: 0;
}
#caja5 {
    order: -1;
    flex-grow: 2;
    background-color: blue;
}
